<nav class="nav-mobile teal darken-3">
    <div class="nav-wrapper">
        <span class="nav-logo left">
            <a href="/" class="brand-logo"> <i class="material-icons">book</i>
                <span class="teal-text text-accent-1">Bibliodome</span></a>
        </span>

        <ul id="nav-mobile" class="nav-mobile right hide-on-med-and-down">
            <li><a href="/">HOME</a></li>
            <li><a class="modal-trigger" href="#quicksearch">QUICK SEARCH</a></li>
            <div id="quicksearch" class="modal">
                <div class="modal-content quicksearch teal darken-2">
                    <div class="row">
                        <h4>Quick Search</h4>
                        <form class="col s12" action="/books/results" method="POST">
                            <div class="input-field col s6">
                                <input class="white-text" type="text" name="title" class="validate" id="title">
                                <label class="white-text" for="title">Book Title</label>
                            </div>
                            <div class="input-field col s4">
                                <input class="white-text" type="text" name="author" id="author">
                                <label class="white-text" class="white-text" for="title">Book Author</label>
                            </div>
                            <div class="col s2 valign-wrapper">
                                <p>
                                    <button class="btn waves-effect waves-light" type="submit"
                                        name="action">Search</button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <% if (currentUser) { %>
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="/users/profile/<%=currentUser.username%>">Your Profile</a></li>
                <li class=" divider"></li>
                <li><a href="/sessions/logout">Logout</a></li>
            </ul>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Howdy <%= currentUser.name%>!<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            <% } else { %>
            <li><a href="/users/signup" class="btn">SIGNUP</a></li>
            <li><a class="modal-trigger" href="#login">LOGIN</a></li>
            <div id="login" class="modal">
                <div class="modal-content">
                    <h3 class="teal-text text-darken-3">
                        Bibliodome</h3>
                    <form action="/sessions" method="POST" class="">
                        <input placeholder="Username" id="username" type="text" class="validate" name="username"
                            style="text-transform: lowercase;" required>
                        <input placeholder="password" id="password" type="password" class="validate" name="password"
                            required>
                        <button class="btn" type="submit" name="action">Submit</button>
                    </form>
                    <p class="teal-text lh0">Don't have an account?</p>
                    <a class="waves-effect waves-green btn" href="/users/signup">Sign Up Here</a>
                </div>
            </div>
            <% } %>
        </ul>
    </div>
</nav>