<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
    <title>Sign Up | Bibliodome | Where Words Come To Life</title>
</head>

<body>
    <div class="wrapper signup-introduction">
        <% include ../partials/nav.ejs %>
        <main>
            <div class="row">
                <div class="col s12 m6">
                    <div class="container">
                        <h2>SIGN UP</h2>
                        <p class="member">Already a member? <a class="modal-trigger" href="#login">Sign in now</a>.</p>
                        <div class="input-field">
                            <form action="/users" method="POST">
                                <div>
                                    <div class="input-field">
                                        <label class="teal-text search" for="name">Your Name</label>
                                        <input minlength="3" maxlength="20" id="name" type="text" class="validate"
                                            name="name" style="text-transform: capitalize;" required>
                                        <span class="helper-text" data-error="At least 3
                                    characters" data-success="&#10004;"></span>
                                    </div>
                                    <div class="input-field">
                                        <label for="username" class="search teal-text">Username</label>
                                        <input minlength="6" maxlength="16" id="username" type="text" class="validate"
                                            name="username" style="text-transform: lowercase;" required>
                                        <span class="helper-text" data-error="At least 6
                                    characters" data-success="&#10004;"></span>
                                        <div class="input-field">
                                            <input minlength="8" maxlength="20" id="password" type="password"
                                                class="validate" name="password" required>
                                            <label for="password" class="search teal-text">Password</label>
                                            <span class="helper-text" data-error="At least 8
                                    characters" data-success="&#10004;"></span>
                                        </div>
                                    </div>
                                    <button class="btn" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
        </main>
        <% include ../partials/footer.ejs %>
    </div>
</body>

</html>